.patrolSettings {
	h2, h3 {
		color: #444;
	}
	h3 {
		&.ico {
			padding-left: 32px;
			line-height: 32px;
			background-repeat: no-repeat;
			background-position: left center;
		}
		&.maintenance {
			background-image: url('../img/maint.png');
		}
		&.security {
			background-image: url(../img/security.png);
		}
		&.settings {
			background-image: url(../img/settings.png);
		}
	}
	.subtle {
		color: #bbb;
	}
	.notice {
		color: #aaa;
		font-family: serif;
		font-style: italic;
	}
	.patrolSection {
		margin-top: 40px;
		padding-top: 20px;
		border-top: 1px dotted #bbb;
	}
}
