.patrolSettings h2,
.patrolSettings h3 {
  color: #444;
}
.patrolSettings h3.ico {
  padding-left: 32px;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: left center;
}
.patrolSettings h3.maintenance {
  background-image: url('../img/maint.png');
}
.patrolSettings h3.security {
  background-image: url(../img/security.png);
}
.patrolSettings h3.settings {
  background-image: url(../img/settings.png);
}
.patrolSettings .subtle {
  color: #bbb;
}
.patrolSettings .notice {
  color: #aaa;
  font-family: serif;
  font-style: italic;
}
.patrolSettings .patrolSection {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dotted #bbb;
}
