{% import "_includes/forms" as forms %}

{% block content %}
	<div id="patrolSettings">
		<h2>{{ name }} <span class="subtle">V{{ version }} {% if alias != name %}AKA ({{ alias }}){% endif %}</span></h2>
		<p>
			Patrol simplifies <strong>maintenance mode</strong> and <strong>secure connections</strong> for sites built with
			<a href="http://buildwithcraft.com" title="Craft CMS">Craft</a>
		</p>
		<div class="patrolSection">
			<input type="hidden" id="patrolReturn" value="settings/plugins/patrol">
			<h3 class="ico maintenance">Maintenance Mode</h3>
			{{
				forms.lightswitch({
					onLabel:	"On",
					offLabel:	"Off",
					name:		"maintenanceMode",
					on:			settings.maintenanceMode
				})
			}}
			{{
				forms.textField({
					id:				"maintenanceUrl",
					name:			"maintenanceUrl",
					label:			"Maintenance URL"|t,
					placeholder:	"/maintenance",
					instructions:	"The URL to redirect <strong>unauthorized</strong> traffic to if maintenance mode is <strong>ON</strong>"|t,
					value:			settings.maintenanceUrl,
					errors:			""
				})
			}}
			{{
				forms.textareaField({
					id:				"authorizedIps",
					name:			"authorizedIps",
					rows:			6,
					class:			"code",
					label:			"Authorized IPs"|t,
					placeholder:	"127.0.0.*",
					instructions:	"The <strong>IP addresses</strong> to grant access to when maintenance mode is <strong>ON</strong>"|t,
					value:			settings.authorizedIps,
					errors:			""
				})
			}}
			<input type="hidden" id="requestingIp" name="requestingIp" value="{{ requestingIp }}"/>
			<a href="#" id="addRequestingIp" class="btn icon add {{ hasIpRule ? 'disabled' : '' }}" title="Add My IP">Add My IP</a>
		</div>

		<div class="patrolSection">
			<h3 class="ico security">Secure Connections</h3>
			{{
				forms.lightswitch({
					onLabel:	"On",
					offLabel:	"Off",
					name:		"forceSsl",
					on:			settings.forceSsl
				})
			}}
			{{
				forms.textareaField({
					id:				"restrictedAreas",
					name:			"restrictedAreas",
					rows:			6,
					class:			"code",
					label:			"Protected Areas"|t,
					placeholder:	"/members",
					instructions:	"The areas where <strong>HTTPS</strong> should be enforced if secure connections is <strong>ON</strong>"|t,
					value:			settings.restrictedAreas,
					errors:			""
				})
			}}
			<input type="hidden" id="cpRule" name="cpRule" value="/{cpTrigger}"/>
			<a href="#" id="addCpRule" class="btn icon add {{ hasCpRule ? 'disabled' : '' }}" title="Add the control panel to restricted areas">Add Control Panel</a>
		</div>

		<div class="patrolSection">
			<h3 class="ico settings">Plugin Settings</h3>
			<p>Display Plugin Tab?</p>
			{{
				forms.lightswitch({
					name:		"enableCpTab",
					on:			settings.enableCpTab
				})
			}}
			{{
				forms.textField({
					id:				"pluginAlias",
					name:			"pluginAlias",
					label:			"Plugin Alias"|t,
					instructions:	"Allows you to rename <strong>"~name~"</strong> to something more meaningful while retaining its name internally."|t,
					value:			alias,
					errors:			""
				})
			}}

			<a class="btn" href="{{ exportUrl }}" title="Export Settings">Export Settings</a>
			<a id="importSettingsButton" class="btn" href="#" title="Import Settings">Import Settings</a>
		</div>

		<div class="patrolSection hidden" id="importSection">
			<div>
				<input type="file" id="patrolFile" name="patrolFile">
				<br><br>
				<a id="runImportSettings" href="#" class="btn submit">Run Import</a>
				<a id="cancelImportButton" href="#" class="btn icon delete">Cancel</a>
			</div>
			<p class="notice">The chosen <strong>.json</strong> file will overwrite your current setting!</p>
		</div>

		<div class="patrolSection credits">
			<p>
				&copy; {{ "now" | date("Y") }}
				<strong>Patrol <span class="subtle">({{ status }})</span></strong>
				<em>by</em>
				<a href="http://twitter.com/selvinortiz" title="@selvinortiz" target="_blank">Selvin Ortiz</a>
			</p>
		</div>
	</div>
{% endblock %}
