{% import "_includes/forms" as forms %}

{% block content %}
	<div id="patrolSettings">
		<h2>{{ name }} <span class="subtle">V{{ version }}</span></h2>
		<p>
			{{ description }}
		</p>
		<div class="patrolSection">
			<h3 class="ico maintenance">Maintenance Settings</h3>
			<input type="hidden" name="return" value="{{ cpUrl('settings/plugins/patrol') }}">
			{{
				forms.checkboxField({
					id:				"maintenanceMode",
					name:			"maintenanceMode",
					label:			"Enable Maintenance Mode"|t,
					instructions:	"Redirects traffic to the <strong>maintenance URL</strong> except authorized users."|t,
					value:			1,
					checked:		settings.maintenanceMode,
					first:			true,
					autofocus:		true,
					errors:			""
				})
			}}
			{{
				forms.textField({
					id:				"maintenanceUrl",
					name:			"maintenanceUrl",
					label:			"Maintenance URL"|t,
					placeholder:	"/maintenance",
					instructions:	"The URL to redirect traffic to if <strong>maintenance mode</strong> is enabled."|t,
					value:			settings.maintenanceUrl,
					errors:			""
				})
			}}
			{{
				forms.textareaField({
					id:				"authorizedIps",
					name:			"authorizedIps",
					rows:			6,
					class:			"code",
					label:			"Authorized IPs"|t,
					placeholder:	"127.0.0.1",
					instructions:	"Defines the <strong>IPs</strong> that should be granted access when <strong>maintenance mode</strong> is enabled."|t,
					value:			settings.authorizedIps,
					errors:			""
				})
			}}
			<input type="hidden" id="requestingIp" name="requestingIp" value="{{ requestingIp }}"/>
			<a href="#" id="addRequestingIp" class="btn icon add {{ hasIpRule ? 'disabled' : '' }}" title="Authorize My IP">Authorize My IP</a>
		</div>

		<div class="patrolSection">
			<h3 class="ico security">Security Settings</h3>
			{{
				forms.checkboxField({
					id:				"forceSsl",
					name:			"forceSsl",
					label:			"Enable Secured Connections"|t,
					instructions:	"Forces connections over <strong>SSL/HTTPS</strong> on restricted areas."|t,
					value:			1,
					checked:		settings.forceSsl,
					errors:			""
				})
			}}
			{{
				forms.textareaField({
					id:				"restrictedAreas",
					name:			"restrictedAreas",
					rows:			6,
					class:			"code",
					label:			"Restricted Areas"|t,
					placeholder:	"/members",
					instructions:	"Defines the areas where <strong>SSL/HTTPS</strong> should be enforced which defaults to sitewide if left empty."|t,
					value:			settings.restrictedAreas,
					errors:			""
				})
			}}
			<input type="hidden" id="cpRule" name="cpRule" value="/{cpTrigger}"/>
			<a href="#" id="addCpRule" class="btn icon add {{ hasCpRule ? 'disabled' : '' }}" title="Secure The CP">Secure The CP</a>
		</div>

		<div class="patrolSection">
			<h3 class="ico settings">Plugin Settings</h3>
			{{
				forms.checkboxField({
					id:				"enableCpTab",
					name:			"enableCpTab",
					label:			"Enable CP Tab"|t,
					instructions:	"Toggles the display of the <strong>["~name~"]</strong> CP tab on the main menu atop."|t,
					value:			1,
					checked:		settings.enableCpTab,
					errors:			""
				})
			}}
			{{
				forms.textField({
					id:				"pluginAlias",
					name:			"pluginAlias",
					label:			"Plugin Alias"|t,
					instructions:	"Updates the label displayed on the <strong>["~name~"]</strong> CP tab if enabled and on the /admin/settings/plugins listing."|t,
					value:			name,
					errors:			""
				})
			}}

			<a class="btn" href="{{ exportUrl }}" title="Export Settings">Export Settings</a>
			<a id="importSettingsButton" class="btn" href="#" title="Import Settings">Import Settings</a>
		</div>

		<div class="patrolSection hidden" id="importSection">
			<div>
				<input type="file" id="patrolFile" name="patrolFile">
				<br><br>
				<a id="runImportSettings" href="#" class="btn submit">Run Import</a>
				<a id="cancelImportButton" href="#" class="btn icon delete">Cancel</a>
			</div>
			<p class="notice">The chosen <strong>.json</strong> file will overwrite your current setting!</p>
		</div>

		<div class="patrolSection credits">
			<p>
				&copy; {{ "now" | date("Y") }}
				<strong>Patrol <span class="subtle">({{ status }})</span></strong>
				<em>by</em>
				<a href="http://twitter.com/selvinortiz" title="@selvinortiz" target="_blank">Selvin Ortiz</a>
			</p>
		</div>
	</div>
{% endblock %}
